@import "styles/_colors";

:root {
  --loader-scale: 1.0;
}

.loader {
  position: relative;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 8px solid var(--grey-extra-light);
  border-top: 8px solid var(--green-light);
  border-radius: 50%;
}

.loader--size-s {
  --loader-scale: 0.6;

  transform: translateX(-50%) scale(var(--loader-scale), var(--loader-scale));
  animation: spin 1.5s infinite ease-in-out;
}

.loader--size-m {
  --loader-scale: 1.0;

  transform: translateX(-50%) scale(var(--loader-scale), var(--loader-scale));
  animation: spin 1.5s infinite ease-in-out;
}

.loader--size-l {
  --loader-scale: 1.4;

  transform: translateX(-50%) scale(var(--loader-scale), var(--loader-scale));
  animation: spin 1.5s infinite ease-in-out;
}

@keyframes spin {
  from {
    transform: translateX(-50%) scale(var(--loader-scale), var(--loader-scale)) rotate(0deg);
  }

  50% {
    transform: translateX(-50%) scale(var(--loader-scale), var(--loader-scale)) rotate(360deg);
  }

  to {
    transform: translateX(-50%) scale(var(--loader-scale), var(--loader-scale)) rotate(720deg);
  }
}
