:root {
  --blue-light: #4545dd;
  --blue-dark: #2f2f91;
  --green-light: #1dc046;
  --green-dark: #1a993a;
  --green-extra-dark: #155c27;
  --grey-extra-light: #e4e6e5;
  --grey-light: #cfd4d1;
  --grey: #babebc;
  --grey-dark: #9ea1a0;
  --red: #e70000;
  --red-dark: #a81414;
  --red-extra-dark: #6d1313;
  --white: #ffffff;
}
