@import "styles/_colors";
@import "styles/_fonts";

.label {
  display: inline-block;
  font-size: 12px;
  font-family: var(--base-font-family);
}

.label--error {
  color: var(--red);
}

.label--hidden {
  color: var(--white);
}
