@import "styles/_colors";
@import "styles/_fonts";

.notifications {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.notifications__item {
  width: 35%;
  padding: 6px;
  margin-top: 8px;
  border-radius: 8px;
  font-family: var(--base-font-family);
  text-align: center;
}

.notifications__item--type-success {
  background-color: var(--green-dark);
  border: 1px solid var(--green-extra-dark);
  color: var(--white);
}

.notifications__item--type-failure {
  background-color: var(--red);
  border: 1px solid var(--red-extra-dark);
  color: var(--white);
}
