@import "styles/_colors";
@import "styles/_fonts";

.workplace-navigation {
  display: block;
  height: 100vh;
  background-color: var(--green-light);
}

.workplace-navigation__link {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-decoration: none;
  font-family: var(--base-font-family);
  font-size: 18px;
  background-color: var(--green-light);
}

.workplace-navigation > a,
.workplace-navigation > a:focus,
.workplace-navigation > a:hover,
.workplace-navigation > a:visited,
.workplace-navigation > a:link,
.workplace-navigation > a:active {
  text-decoration: none;
}

.workplace-navigation__link:hover,
.workplace-navigation__link--active {
  background-color: var(--green-dark);
  font-weight: bold;
}

.workplace-navigation__link--exit {
  position: absolute;
  bottom: 0;
}
